.about-container {
  display: grid;
  grid-template-columns: 50% 50%;
}
.about-image {
  position: relative;
  margin-top: 55%;
  z-index: 0;
}
.rectangle {
  position: relative;
  z-index: 0;
  background-color: #77b6ea;
  width: 500px;
  height: 200px;
  margin-left: 20%;
  margin-bottom: 8rem;
}

.about-image img {
  height: 30rem;
  width: 25rem;
  margin-left: 23%;
  object-fit: cover;
  position: absolute;
  z-index: 10;
  margin-top: -38rem;
}
.about-information {
  margin-top: 30%; 
  margin-left:19.78%;
}
.about-information h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  color: #020042;
  width: 61%;
 
}
.text {
  margin-top: 1rem;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #020042;
  width: 80%;
  
}
.bold {
  font-weight: 900;
}
.button{
    width: 140px;
    height: 50px;
    background-color: #4BA3C3;
    border: none;
    color: #FFFFFF;
    margin-top: 7%;
}
.button p{
    transition: transform 450ms;
}
.button:hover p{
    transform: scale(1.08);
    font-weight: bolder;
}
