.navbar {
  background-color:transparent;
  position: absolute;
  z-index: 1;
  height: 5rem;
  display: flex;
  justify-content:space-between;
  align-items: center;
  font-size: 1.2rem;
  width: 100%;
}
.navbar-logo{
    margin-left: 10.52%;
}

.navbar-logo img {
  width: 6.5rem;
  height: 4.7;
}
.black{
  background-color: black;
  opacity: 0.5;
}
.nav-menu {
  display: flex;
  
}
.nav-menu li {
  list-style-type: none;
  margin-right: 1.5rem;
  font-family: Spartan;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  transition: transform 450ms;
  cursor: pointer;
}
.nav-menu li:hover {
  transform: scale(1.08);
}
.menu-icon {
  display: none;
}

@media screen and (max-width:960px) {
  .navbar{
    position: fixed;
    
  }
  .blue-color {
    background-color:#4ba3c3 ;
  }
  .navbar-white{
    background-color: white;
    color: black;
    border-bottom: 1px solid lightgray;
  }
  #close{
    color: white;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    justify-content: center;
    align-items: center;
    z-index: 99;
  }
  

  .nav-menu.active {
    position: absolute;
    background: #4ba3c3;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
  }


  .navbar-logo {
    position: absolute;
  }
  .nav-item{
    margin: 3rem;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }


}