.navbar {
  background-color:transparent;
  position: absolute;
  z-index: 1;
  height: 5rem;
  display: flex;
  justify-content:space-between;
  align-items: center;
  font-size: 1.2rem;
  width: 100%;
}
.logo{
    margin-left: 10.52%;
}

.logo img {
  width: 6.5rem;
  height: 4.7;
}
.black{
  background-color: black;
  opacity: 0.5;
}
.desktop {
  display: flex;
  margin-right: 2%;
}
.desktop li {
  list-style-type: none;
  margin-right: 3.75rem;
  font-family: Spartan;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  transition: transform 450ms;
  cursor: pointer;
}
.desktop li:hover {
  transform: scale(1.08);
}
