.information-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
}
.information{
    display: flex;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.info{
    display: flex;
    align-items: center;
    justify-items: center;
}
.info p{
    font-style: normal;
    font-weight: 600;
    font-size: 0.8rem;
    margin-right: 2rem;
}
#logo{
    color: #4BA3C3;
    font-size: 2rem;
    margin-right: 0.5rem;
}
.info-btn{
    align-self: flex-end;
    margin-right: 16rem;
    margin-bottom: 2rem;
  
}